<footer id="contact" style="text-align: center; background:url(./Images/hotdog.jpg);opacity: 0.9; color: black; ">


  <div class="container">
    <div class="row">

      <div class="col sm 4">
        <img src="assets\images\cup.jpg">

      </div>

      <div class="col sm 8" style="text-align: left;"> 
      <hr>
      <br>

      <p>
        Dear guests, you are welcomed to share with us your fooding stuff. 
        <br>
        3805 Edwards Rd<br>
        Cincinnati, OH 45209 USA
        <br>
        Phone: (513) 352-3209
        Fax: (513) 352-6220
        Email : customers@tasty.net</p>
        <br>
        <hr>
    </div>
    </div>

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>








</footer>
