    <div class="container">
      <div style="position: relative;
text-align: center;
color: white;">

        <img src="assets\images\15.jpg" height="550px" width="100%">
        <div class="text" style="position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); font-size: 50px;">Grill and chill!<h4>Welcome Foodies!</h4>
        </div>

      </div>
      <br>




    
      <h2 style="text-align: center;">
        BLOGS
      </h2>
        <div class="wrap" style="text-align: center;">
         
          <div class="search">
            <input [(ngModel)]='searchTerm' placeholder="What are you looking for?" size="25" > &nbsp;
            
          </div>
          <br>
        </div>
     
      
        <div style="text-align:center">

      

          <br>
          <ul *ngFor="let item of searchedBlog" style="list-style: none;">
            <div class="row">

              <div class="col sm 4">
                <img [src]='item.blogimg' [style.width.px]='imgWidth' [style.height.px]='imgHeight'
                  [style.borderRadius.px]='imgRadius'>
              </div>

              <div class="col sm 8">
                <p>{{item.content}}<br>
                 <b>{{item.blogA}}</b> </p>

         <item-rating [rating]='item.brating'  ></item-rating>
         

             &nbsp;   <button type="submit" class="btn btn-info" [routerLink]="['/card/edit',item.blogId]">Edit</button>&nbsp;
                <button class="btn btn-danger" (click)="onDelete(item.blogId)">Delete</button>
              </div>

            </div>
            <hr>

          </ul>
        </div>
        
   <br>
   <button class="btn btn-danger" [routerLink]="['/card/create']" >Add</button>
  

    <br>
    <br>
    <br>
