<div class="container">
    <br>
<h4 style="text-align:center;">ABOUT HOT & GRILL</h4>
<div class="row">
<div class="col-sm-4">
<img src="assets\images\logo-removebg-preview.png">
</div>

<div class="col-sm-8">
    <p style="margin-left: 150px; margin-top: 80px;line-height: 30px;">Hot & Grill is an Casual Italian restaurant in the City overlooking South Dock. Serving a variety of pizza and pasta dishes in addition to Bella Cosa’s regional Italian specials, all using quality Italian ingredients.

        The space has great views over the river and is perfect for family dinners, couple’s nights out and business lunches
        
        Hot & Grill offers you a journey through Italian cuisine in the heart of the City.</p>
</div>




</div>

</div>
<br>
<br>
<br>
<br>

